* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  user-select: none;
  //background: radial-gradient(#999, #666);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#art {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  #canvas {
    background: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 4px 32px 32px rgba(0, 0, 0, 0.05), 8px 50px 64px rgba(0, 0, 0, 0.15);
    //width: 90vw;
    //height: 90vh;
  }
}

#notes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  background: transparent;
  padding: 0.75rem 1rem;
  user-select: text;
  font-size: 0.75rem;
  line-height: 1.3rem;
  font-family: sans-serif;
  color: #666 !important;
  z-index: 2;
  text-shadow: 0px 0px 5px white;
  #note {
    margin: 0;
  }

  #download {
    color: #666;
    text-decoration: none;
  }
}


